div(data-role='page', id='main', data-theme='c')
  div(data-role='header', data-position='fixed', data-theme='b', data-id='header')
    h1 Pocket Change

  div(data-role='content')

    div(data-inset='true')
      center: img(src='/images/box_software.png', alt='Software Icon')

    a(href='/approvals', data-role='button', data-theme='d') My Approvals
    a(href='/upcoming', data-role='button') Upcoming 
    a(href='#completed', data-role='button') Completed

  div(data-role='footer', data-theme='c', data-position='fixed', data-id='footer')
    h4 Bill Parker

div(data-role='page', id='completed', data-theme='c')
  div(data-role='header', data-position='fixed', data-theme='b', data-id='header')
    h1 Pocket Change

  div(data-role='content')
    h3 Completed

  div(data-role='footer', data-theme='c', data-position='fixed', data-id='footer')
    h4 Bill Parker