!!! 5
html
  head
    title XpressQual Correspondent
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/jquery-ui.aristo.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/underscore.min.js')
    script(src='javascripts/backbone.min.js')
    script(src='javascripts/jquery-ui.min.js')
    script(src='javascripts/app.js')
  body!= body