div(data-role='page', id='main')
  div(data-role='header', data-position='fixed')
    h1 Case List

  div(data-role='content')
    ul(data-role='listview')
      li: a(href='#info')
        h2 10101444
        p: strong Cool text
        p More Information
        p.ui-li-aside: strong Registered
      li: a(href='#info')
        h2 3040392
        p: strong Cool text
        p More Information
        p.ui-li-aside: strong Locked
      li: a(href='#info')
        h2 5945439
        p: strong Cool text
        p More Information
        p.ui-li-aside: strong Floating
      li: a(href='#info')
        h2 42923434
        p: strong Cool text
        p More Information
        p.ui-li-aside: strong.expired Expired
      li: a(href='#info')
        h2 10101444
        p: strong Cool text
        p More Information
        p.ui-li-aside: strong Registered
      li: a(href='#info')
        h2 3040392
        p: strong Cool text
        p More Information
        p.ui-li-aside: strong Locked
      li: a(href='#info')
        h2 5945439
        p: strong Cool text
        p More Information
        p.ui-li-aside: strong Floating
      li: a(href='#info')
        h2 42923434
        p: strong Cool text
        p More Information
        p.ui-li-aside: strong.expired Expired



  div(data-role='footer', data-position='fixed')
    h4 XpressQual CL


div(data-role='page', id='info', data-theme='b', data-add-back-btn='true')
  div(data-role='header', data-position='fixed')
    h1 Case Status



  div(data-role='content')
    h3 Case Status

  div(data-role='footer',  data-position='fixed')
    div(data-role='navbar')
    h4 XpressQual CL
